<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



<nav class="main-nav blue large-padding light-text">

    <a routerLink="/">
        <span class="nav-title">Progressive Web App</span>
    </a>

    <div class='float-right'*ngIf="afAuth.authState | async" >

        <a routerLink="/">
            <i class="fa fa-list"></i>
            <span class="small-font"> Mis Listas</span>
        </a>

        <a routerLink="#" (click)="logout()">
            <i class="fa fa-sign-out-alt"></i>
        </a>

    </div>

</nav>
<router-outlet></router-outlet>