<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



<nav class="main-nav blue large-padding light-text relative">

    <a routerLink="/">
        <span class="nav-title">Progressive Web App</span>
    </a>

    <div class="notification-window card small-padding">
        <div *ngIf="!!(token | async); else activate_notifications">
            <p>Te gustaria desactivar notificaciones?</p>
            <button type="button" name="button" (click)="cancelPermission()" class="blue light-text small-padding card">Desactivar</button>
        </div>

        <ng-template #activate_notifications>
            <p>Te gustaria activar notificaciones?</p>
            <button type="button" name="button" (click)="requestPushPermission()" class="blue light-text small-padding card">Activar</button>
        </ng-template>

    </div>

    <div class='float-right' *ngIf="afAuth.authState | async">

        <a href="">
            <i class="fa fa-bell"></i>
        </a>

        <a routerLink="/">
            <i class="fa fa-list"></i>
            <span class="small-font"> Mis Listas</span>
        </a>

        <a routerLink="#" (click)="logout()">
            <i class="fa fa-sign-out-alt"></i>
        </a>

    </div>

</nav>

<router-outlet></router-outlet>